.container-fluid
  .row-fluid
    .content-box-header
      | 今日交班所有事项如下示：
    - @logs.each_with_index do |event, i|
      .row
        - if i % 2 == 0
          .span2.offset1
            = image_tag 'avatar.png'
            = event.user.alias_name
            br
            | 类型：
            = LOG_TYPE.key(event.event_type)
            br
            | 时间：
            = event.created_at.strftime('%Y-%m-%d %H:%M')
          .span6
            blockquote.triangle-border.left
              p
                = event.name
              hr
              - unless event.update_id.blank?
                blockquote.pull-right
                  small 最后一次修改是由 #{ event.update_user.alias_name } 在 #{ event.updated_at.strftime('%Y-%m-%d %H:%M')}
              .btn-toolbar
                .btn-group
                  = link_to '查看', event, { class: 'btn btn-info' }
                  = link_to '编辑', edit_event_path(event), { class: 'btn btn-warning' }
                  = link_to '删除', event, method: :delete, data: { confirm:'删除的日志无法恢复,确定要删除吗?' }, class:'btn btn-danger'
        - else
          .span6.offset3
            blockquote.triangle-border.right
              p
                = event.name
              hr
              - unless event.update_id.blank?
                blockquote.pull-right
                  small 最后一次修改是由 #{ event.update_user.alias_name } 在 #{ event.updated_at.strftime('%Y-%m-%d %H:%M')}
              .btn-toolbar
                .btn-group
                  = link_to '查看', event, { class: 'btn btn-info' }
                  = link_to '编辑', edit_event_path(event), { class: 'btn btn-warning' }
                  = link_to '删除', event, method: :delete, data: { confirm: '删除的日志无法恢复,确定要删除吗?' }, class:'btn btn-danger'
          .span2
            = image_tag 'avatar.png'
            = event.user.alias_name
            br
            | 类型：
            = LOG_TYPE.key(event.event_type)
            br
            | 时间：
            = event.created_at.strftime('%Y-%m-%d %H:%M')

- unless @logs.blank?
  .pagination.pagination-small.center
    = will_paginate @logs, :inner_window => 2
  .well.center
    | 统计信息：一共有 #{ @logs.total_entries } 条,当前第 #{ @logs.current_page } 页，
    | 共
    - if (@logs.total_entries % @logs.per_page) ==0
      | #{ (@logs.total_entries / @logs.per_page) }页.
    - else
      | #{ (@logs.total_entries / @logs.per_page) +1 } 页.

.container-fluid.alert.alert-block.alert-info
  .row-fluid
    .span3.offset1 style="width: 100px;height:20px"
      = image_tag 'sound.png'
    .span9
      = form_tag('log_submit') do
        = select_tag('log_type', options_for_select(LOG_TYPE), { prompt:'选择交班类型', class:'span3', id:'s_bp', required: true })
        = text_area_tag 'my_log', nil, rows: 6, class: 'input-xlarge span12'

        .span12.offset4
          button#s_b_s.btn.btn-large.btn-success.span4
            i.icon-fire.icon-white
            | 提交日志