<footer class="row-fluid footer ">
  <small>
    <a href="#">技术支持 by 易其锋(6172891)</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to '我的腾讯微博','http://t.qq.com/elico_yqf' %></li>
    </ul>
  </nav>
</footer>
