.slide-box
  ul.nav.nav-list
    li.nav-header
      | GPON业务相关
    li#m_stop
      = content_tag :a, href: '/gpon/preconfig' do
        = content_tag(:i, '', class: 'icon-road')
        |预配置数据生成
    li#m_stop
      = content_tag :a, href: '#' do
        = content_tag(:i, '', class: 'icon-remove')
        |数据删除