<div class="slide-box">
  <ul class="nav nav-list ">
    <li class="nav-header">
      GPON业务相关
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/log_book/logging' do -%>
          <%= content_tag(:i, '', class: 'icon-road') -%>数据开通
      <% end %>
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/log_book/logging' do -%>
          <%= content_tag(:i, '', class: 'icon-remove') -%>数据删除
      <% end %>
    </li>
  </ul>
</div>