<div class="slide-box">
  <ul class="nav nav-list ">
    <li class="nav-header">
      GPON业务相关
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/log_book/logging' do -%>
          <%= content_tag(:i, '', class: 'icon-book') -%>数据开通
      <% end %>
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/log_book/logging' do -%>
          <%= content_tag(:i, '', class: 'icon-book') -%>数据删除
      <% end %>
    </li>
    <li>
      <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i>#</a>
    </li>
    <li>
      <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i>#</a>
    </li>
    <li class="nav-header">
      其它
    </li>
    <li id="m_stop">
      <a href="#"><i class="icon-book"></i>#</a>
    </li>
    <li id="m_stop">
      <a href="#"><i class="icon-book"></i>#</a>
    </li>
  </ul>
</div>