.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse"
        span class="icon-bar"></span>
        span class="icon-bar"></span>
        span class="icon-bar"></span>
      a.brand.active href="#" = full_title(yield(:title)) +' - {'+ session[:name] + '}' +'童鞋 欢迎您登录本系统'

      .nav-collapse.collapse.pull-right
        ul.nav
          li.active = link_to 'Home','#'
          li = link_to '关于','#'
          li = link_to '反馈信息','#'
          li = link_to '退出','/logout'