<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand active" href="#"><%= full_title(yield(:title)) %> - <%= '{'+session[:name]+'}童鞋 ' %> 欢迎您登录本系统</a>

      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">关于</a></li>
          <li><a href="#contact">反馈信息</a></li>
          <li><a href="/logout">退出</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>