<ul class="nav nav-list bs-docs-sidenav">
  <li class="nav-header">
    交接班处理
  </li>
  <li id="m_stop">
    <a href="/log_book/logging"><i class="icon-book"></i>今日交班</a>
  </li>
  <li>
    <a href="/log_book/log_type1">&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i>故障</a>
  </li>
  <li>
    <a href="/log_book/log_type2">&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i>日常</a>
  </li>
  <li class="nav-header">
    其它
  </li>
  <li id="m_stop">
    <a href="#"><i class="icon-book"></i>月交班记录</a>
  </li>
  <li id="m_stop">
    <a href="#"><i class="icon-book"></i>查询记录</a>
  </li>
</ul>