.slide-box
  ul.nav.nav-list
    li.nav-header
      | 交接班处理
    li#m_stop
      = content_tag :a, href: '/log_book/logging' do
        = content_tag(:i, '', class: 'icon-comment')
        | 今日交班
    li
      = content_tag :a, href: '/log_book/type/2' do
        | &nbsp;&nbsp;&nbsp;&nbsp;
        = content_tag(:i, '', class: 'icon-list-alt')
        | 日常
    li
      = content_tag :a, href: '/log_book/type/1' do
        |&nbsp;&nbsp;&nbsp;&nbsp;
        = content_tag(:i, '', class: 'icon-warning-sign')
        | 故障
    li
      = content_tag :a, href: '/log_book/type/3' do
        | &nbsp;&nbsp;&nbsp;&nbsp;
        = content_tag(:i, '', class: 'icon-book')
        | 要点
    li
      = content_tag :a, href: '/log_book/type/4' do
        | &nbsp;&nbsp;&nbsp;&nbsp;
        = content_tag(:i, '', class: 'icon-print')
        | 调令
    li
      = content_tag :a, href: '/log_book/type/5' do
        |&nbsp;&nbsp;&nbsp;&nbsp;
        = content_tag(:i, '', class: 'icon-bullhorn')
        | 会议令

    li#m_stop
      = content_tag :a, href: '/calendar' do
        = content_tag(:i, '', class: 'icon-calendar')
        | 月交班记录
    li#m_stop
      = content_tag :a, href: '/events' do
        = content_tag(:i, '', class: 'icon-th-list')
        | 交班记录汇总
    li#m_stop
      = content_tag :a, href: '/events/query' do
        = content_tag(:i, '', class: 'icon-search')
        | 查询交班记录