<ul class="nav nav-list bs-docs-sidenav">
  <li class="nav-header">
    交接班处理
  </li>
  <li id="m_stop">
    <a href="/log_book/logging"><i class="icon-book"></i>今日交班</a>
  </li>
  <li id="m_stop">
    <a href="/welcome/p_stop"><i class="icon-book"></i>月交班记录</a>
  </li>
  <li id="m_stop">
    <a href="/welcome/p_stop"><i class="icon-book"></i>查询记录</a>
  </li>
</ul>