<div class="slide-box">
  <ul class="nav nav-list ">
    <li class="nav-header">
      个人信息页面
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '#' do -%>
          <%= content_tag(:i, '', class: 'icon-briefcase') -%>个人资料
      <% end %>
    </li>
    <li>
      <%= content_tag :a, href: '/pass_modify/modify' do -%>
          <%= content_tag(:i, '', class: 'icon-wrench') -%>密码修改
      <% end %>
    </li>
  </ul>
</div>