doctype html
html
  head
    title = full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag '/stylesheets/event_calendar', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/javascripts/event_calendar'
    = csrf_meta_tags
    = render 'layouts/shim'

  body
    = render 'layouts/header'
    .container style="width: 1100px"
      .row.span8.offset5
        - flash.each do |key, value|
          .row
            == content_tag(:div, value, class: "alert alert-#{key}")
      .container-fluid
        .row-fluid
          .span2.offset1
            .row
              = render 'layouts/slide'
            .row
              = render 'layouts/gpon_slide'
            .row
              = render 'layouts/logbook_slide'
            .row
              = render 'layouts/userinfo_slide'
          .span9
            .content-box
              == yield

      = render 'layouts/footer'
      = debug(params) if Rails.env.development?